<%- include("header") -%>

<div class="container">
    <h1>Home</h1>
    <p><%= homeStartingContent %></p>
</div>

<% postsToRender.forEach(post => { %>
    <div class="container">
        <h1><%= post.title %></h1>
        <% if(post.truncatedContent === null) { %>
            <p><%= post.content %></p>
        <% } else { %>
            <p><%= post.truncatedContent %><a href="/posts/<%= post._id %>" class="read__more">Read more</a></p>
        <% } %>
    </div>
<% }); %>

<script src="/scripts/script.js"></script>